<div class="container-fluid main-menu">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a href="#" class="navbar-brand"><i
              class="far fa-snowflake"
              aria-hidden="true"
            ></i>
            Weathery☁</a>
          <button
            type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon">
              <!-- <i class="fa-thin fa-square-list"></i> -->
              <i class="fa-solid fa-sliders"></i>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto nb">
              <a href="#" class="nav-item nav-link active">Home</a>
              <a href="/weather" class="nav-item nav-link active">Weather</a>

              <a href="#" class="nav-item nav-link active">About</a>
            </div>
            <!-- <div class="navbar-nav ms-auto">
                  <a href="#" class="nav-item nav-link">Login</a>
                </div> -->
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>